*{


body {
    font-family: Arial, sans-serif;
    background-image: url('https://sanjee-v.netlify.app/background1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    text-align: top;
   padding: 20%;
}


h1 {
    color: red;
    font-size: 30px;
    margin-top: 30vh; 
    text-shadow: 10px 10px 10px black;
}

h2 {
    color:yellow; 
    font-size: 30px;
    text-shadow: 10px 10px 10px black; 
}





}






